body {
    background-color: darkolivegreen;
    margin: 8px;
}
p{
    border: 5px solid plum;
    padding: 25px;
    margin: 10px;
    text-align: center;
}
  #mainHeading {
    color:burlywood;
  }
  .funParagraph{
    color:burlywood;
  }
  h3{
    color:moccasin;
  }
  #personalLife{
    color:burlywood;
  }
  ul{
    color:mistyrose
  }