article {
    margin: 5px;
    padding: 10px;
}
body {
  margin: 8px;
  display: block;
  background-color: lavender;
}

#mainHeading {
  color: red;
}

.funParagraph {
  color: green;
}

p {
  text-align: center;
}

img {
  border: 5px solid darkorchid;
}